
table,th,td {border: 1px solid black;}
.width-full{width:100%;}
.height-80{height:80px}
.height-100{height:100px}
.height-390{height:390px}
.margin-auto{margine: 0 auto} 
.align-left{text-align: left}
.align-right{text-align: right}
.align-center{text-align: center}

/* main */
#main-tab-Layout{width:100%;margine: 0 auto;height:390px }
#main-tab-Layout-td{width:60%;height:400px}
#login-size{width:40%; height:390px}

/* user_login */
#user-login-layout{width: 250px;margin:150px auto}
#user-login-form{border:1px solid black}

/* admin_login */
#admin-login-layout{width: 250px;margin:150px auto}
#admin-login-form{border:1px solid black}